<div class="board-container">
  <div class="todo" dnd-droppable (onDropSuccess)="droppedInTodo($event)">
      <header>Todo</header>
    <mat-card *ngFor="let todo of todos$ | async | todoStatus: 'Todo'" dnd-draggable [dragEnabled]="true" [dragData]="todo">
      <mat-card-header>
        <mat-card-title>{{todo.title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{todo.content}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="doing" dnd-droppable (onDropSuccess)="droppedInDoing($event)">
      <header>Doing</header>
      <mat-card *ngFor="let todo of todos$ | async | todoStatus: 'Doing'" dnd-draggable [dragEnabled]="true" [dragData]="todo">
      <mat-card-header>
        <mat-card-title>{{todo.title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{todo.content}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="done" dnd-droppable (onDropSuccess)="droppedInDone($event)">
      <header>Done</header>
      <mat-card *ngFor="let todo of todos$ | async | todoStatus: 'Done'" dnd-draggable [dragEnabled]="true" [dragData]="todo">
      <mat-card-header>
        <mat-card-title>{{todo.title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{todo.content}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
