<div class="board-container">
  <div class="stage" dnd-droppable (onDropSuccess)="droppedInTodo($event)">
    <header>Todo</header>
    <ng-container *ngFor="let todo of todos | todoStatus: 'Todo'">
      <app-todo-item [todo]="todo" dnd-draggable [dragEnabled]="true" [dragData]="todo"></app-todo-item>
    </ng-container>
    <div class="add-todo-wrapper">
      <button mat-button class="add-todo" (click)="addNewTodo()">Add new todo</button>
    </div>
  </div>
  <div class="stage" dnd-droppable (onDropSuccess)="droppedInDoing($event)">
    <header>Doing</header>
    <ng-container *ngFor="let todo of todos | todoStatus: 'Doing'">
      <app-todo-item [todo]="todo" dnd-draggable [dragEnabled]="true" [dragData]="todo"></app-todo-item>
    </ng-container>
  </div>
  <div class="stage" dnd-droppable (onDropSuccess)="droppedInDone($event)">
    <header>Done</header>
    <ng-container *ngFor="let todo of todos | todoStatus: 'Done'">
      <app-todo-item [todo]="todo" dnd-draggable [dragEnabled]="true" [dragData]="todo"></app-todo-item>
    </ng-container>
  </div>
</div>
