$museo300-woff-path: "/assets/fonts/Museo300-Regular-webfont.woff";
$museo300-woff2-path: "/assets/fonts/Museo300-Regular-webfont.woff2";

$museo500-woff-path: "/assets/fonts/Museo500-Regular-webfont.woff";
$museo500-woff2-path: "/assets/fonts/Museo500-Regular-webfont.woff2";

$museo700-woff-path: "/assets/fonts/Museo700-Regular-webfont.woff";
$museo700-woff2-path: "/assets/fonts/Museo700-Regular-webfont.woff2";